<form action="/answer" class="row g-3">
<label for="exampleFormControlInput1" class="form-label">Type your question</label>
  <input type="text" name="question" class="form-control" id="exampleFormControlInput1" placeholder="Am I stupid?">
  <div class="col-auto">
    <input type="submit" value="Ask!" class="btn btn-primary mb-3">
  </div>
</form>
